<html>
<head>
    <h4>Welcome to CryptoCoin-Ticker</h4>
    <title>Tickers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #container {
            margin: 0 auto;
            padding: 1em;
            width: 300px;
        }

        .ticker {
            width: 200px;
            margin: 1em auto;
        }
    </style>
</head>
<body>

<div id="container">
    {% for ticker_code in ticker_codes %}
    <div class="ticker input-group">
        <div class="input-group-prepend">
            <button type="button" value="{{ ticker_code }}" class="btn btn-info" data-subscribed="false" onclick="setInterval(1000)" disabled>{{ ticker_code }}</button>
        </div>
        <input id="{{ ticker_code }}B" class="form-control-lg" placeholder="Buy Value" type="text" readonly="readonly"/>
        <input id="{{ ticker_code }}S" class="form-control-lg" placeholder="Sell Value" type="text" readonly="readonly"/>
    </div>
    {% endfor %}
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<div>
    <p>Streaming Recommendation Work is in progress!!!!</p>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
  
    
    const sockets = {}
    {% for ticker_code in ticker_codes %}{
        const tc = '{{ ticker_code }}'
        const button = $(`button[value="${tc}"`)

        button.on('click', () => {
            
            if (button.attr('data-subscribed') === 'false') {
            button.attr('data-subscribed', 'true')
            button.toggleClass('btn-info btn-success')
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            sockets[tc] = new WebSocket(`${ws_scheme}://${window.location.host}/ws/${tc.substring(0, 3)}/${tc.substring(3, 6)}`)
            sockets[tc].onmessage = event => {
                console.log(event)
                const data = JSON.parse(event.data)
                button.css({
                    'background-color': 'green',
                    'transition': 'background-color 0.2s linear',
                })
                if ('price' in data) {
                    $('$'`#${tc}B`).val(data['price']['buy'])
                    $('$'+`#${tc}S`).val(data['price']['sell'])
                }
                setTimeout(() => {
                    button.css({
                    'background-color': '',
                    'transition': '',
                })
            }, 200)
            }
        } else {
            button.attr('data-subscribed', 'false')
            button.toggleClass('btn-success btn-info')
            if (sockets[tc]) {
                sockets[tc].close()
            }
        }
    })
    }{% endfor %}

</script>
<script type="text/javascript">
var randomTime = 1000
setInterval(function() {  

  var tags = ["BTCBIN", "BTCKRA","ETHBIN","ETHKRA"]
  

  for (var i = 0; i < tags.length; i++) {
      
      var button = $(`button[value="${tags[i]}"`)  
        button.click();
      // Below alert should be removed, just for testing/showing purposes.
      //alert("Button clicked after " + randomTime + "ms.");
  }
}, randomTime);
</script>>
</body>
</html>